// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;700;900&display=swap');

// Define custom SASS variables
$body-font-family: 'Raleway', sans-serif !default;
$font-size-root: .75rem !default;

body {
  font-family: $body-font-family;
  font-size: $font-size-root;
}